* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h1 {
  color: var(--main-color);
}

.color-box {
  width: 300px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#color-text {
  font-size: 24px;
  color: var(--main-color);
}

button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: black;
}
