* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-transition: 0.3s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(185deg, #3b3ee3, #045610);
  padding: 10px;
}
.container .todo-app {
  max-width: 545px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 40px 30px 70px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.container .todo-app:hover {
  box-shadow: 1px 2px 6px 1px black;
}

.container .todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.container .todo-app h2 img {
  width: 35px;
  margin-left: 10px;
}

.container .todo-app .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #efe2e2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.container .todo-app .row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

.container input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.container .todo-app .row button {
  border: none;
  outline: none;
  padding: 15px 20px;
  color: #fff;
  font-size: 16px;
  background-color: #0a9c11;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  font-weight: bold;
}
.container .todo-app .row button:hover {
  background-color: #068051;
}
.container .todo-app ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  position: relative;
}

.container .todo-app ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 16px;
}

.container .todo-app ul li.checked {
  color: #555;
  text-decoration: line-through;
}
.container .todo-app ul li.checked::before {
  background-image: url(./images/checked.png);
}

.container .todo-app ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  color: #555;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.container .todo-app ul li span:hover {
  background-color: #f3f3f3;
}
